<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.INVENTARIO_PuebloViejo"
        tools:targetApi="31">
        <activity
            android:name=".Registro_equipo"
            android:label="Registro De Equipos"
            android:exported="false" />
        <activity
            android:name=".Trabajo_Social"
            android:exported="false"
            android:label="Trabajo Social" />
        <activity
            android:name=".Informatica"
            android:exported="false"
            android:label="Informatica" />
        <activity
            android:name=".D_Social"
            android:exported="false"
            android:label="Desarrollo Social" />
        <activity
            android:name=".Transparencia"
            android:exported="false"
            android:label="Transparencia" />
        <activity
            android:name=".Panteones"
            android:exported="false"
            android:label="Panteones" />
        <activity
            android:name=".Alcoholes"
            android:exported="false"
            android:label="Alcoholes" />
        <activity
            android:name=".Comercio"
            android:exported="false"
            android:label="Comercio" />
        <activity
            android:name=".Comandancia"
            android:exported="false"
            android:label="Comandancia" />
        <activity
            android:name=".Inst_Mujer"
            android:exported="false"
            android:label="Instituto De La Mujer" />
        <activity
            android:name=".Religion"
            android:exported="false"
            android:label="Religion" />
        <activity
            android:name=".Rh"
            android:exported="false"
            android:label="Recursos Humanos" />
        <activity
            android:name=".Obra_Publica"
            android:exported="false"
            android:label="Obra Publica" />
        <activity
            android:name=".A_Tecnologia"
            android:exported="false"
            android:label="Area De Tecnologia" />
        <activity
            android:name=".Regidores"
            android:exported="false"
            android:label="Regidores" />
        <activity
            android:name=".Secretarias"
            android:exported="false"
            android:label="Secretarias" />
        <activity
            android:name=".Registro_Civil"
            android:exported="false"
            android:label="Registro Civil" />
        <activity
            android:name=".Contraloria"
            android:exported="false"
            android:label="Contraloria" />
        <activity
            android:name=".Catastro"
            android:exported="false"
            android:label="Catastro" />
        <activity
            android:name=".Cajas"
            android:exported="false"
            android:label="Cajas" />
        <activity
            android:name=".Tesoreria"
            android:exported="false"
            android:label="Tesoreria" />
        <activity
            android:name=".Ingresos"
            android:exported="false"
            android:label="Ingresos" />
        <activity
            android:name=".Egresos"
            android:exported="false"
            android:label="Egresos" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.INVENTARIO_PuebloViejo.NoActionBar"/>
        <activity
            android:name=".Inicio_Sesion"
            android:exported="false"
            android:theme="@style/Theme.INVENTARIO_PuebloViejo.NoActionBar"/> 

        <activity
            android:name=".Splash_Screen"
            android:exported="true"
            android:theme="@style/Theme.INVENTARIO_PuebloViejo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>